<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>Controller.FileUploadHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/Controller/FileUploadHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletUploadPoster</servlet-name>
        <servlet-class>Controller.ServletUploadPoster</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUploadPoster</servlet-name>
        <url-pattern>/Controller/ServletUploadPoster</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletExpertConfirmPoster</servlet-name>
        <servlet-class>Controller.ServletExpertConfirmPoster</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletExpertConfirmPoster</servlet-name>
        <url-pattern>/Controller/ServletExpertConfirmPoster</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletBossConfirmPoster</servlet-name>
        <servlet-class>Controller.ServletBossConfirmPoster</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBossConfirmPoster</servlet-name>
        <url-pattern>/Controller/ServletBossConfirmPoster</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletAdvisorConfirmPlan</servlet-name>
        <servlet-class>Controller.ServletAdvisorConfirmPlan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAdvisorConfirmPlan</servlet-name>
        <url-pattern>/Controller/ServletAdvisorConfirmPlan</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletEnterRegistrations</servlet-name>
        <servlet-class>Controller.ServletEnterRegistrations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEnterRegistrations</servlet-name>
        <url-pattern>/Controller/ServletEnterRegistrations</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletExpertConfirmRegistrations</servlet-name>
        <servlet-class>Controller.ServletExpertConfirmRegistrations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletExpertConfirmRegistrations</servlet-name>
        <url-pattern>/Controller/ServletExpertConfirmRegistrations</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletBossConfirmRegistrations</servlet-name>
        <servlet-class>Controller.ServletBossConfirmRegistrations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBossConfirmRegistrations</servlet-name>
        <url-pattern>/Controller/ServletBossConfirmRegistrations</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletBossConfirmPlan</servlet-name>
        <servlet-class>Controller.ServletBossConfirmPlan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBossConfirmPlan</servlet-name>
        <url-pattern>/Controller/ServletBossConfirmPlan</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletExpertConfirmPlan</servlet-name>
        <servlet-class>Controller.ServletExpertConfirmPlan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletExpertConfirmPlan</servlet-name>
        <url-pattern>/Controller/ServletExpertConfirmPlan</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletAssociationsManagement</servlet-name>
        <servlet-class>Controller.ServletAssociationsManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAssociationsManagement</servlet-name>
        <url-pattern>/Controller/ServletAssociationsManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCreateAssociation</servlet-name>
        <servlet-class>Controller.ServletCreateAssociation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreateAssociation</servlet-name>
        <url-pattern>/Controller/ServletCreateAssociation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletEditAssociation</servlet-name>
        <servlet-class>Controller.ServletEditAssociation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEditAssociation</servlet-name>
        <url-pattern>/Controller/ServletEditAssociation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletEditAssociationInitializer</servlet-name>
        <servlet-class>Controller.ServletEditAssociationInitializer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEditAssociationInitializer</servlet-name>
        <url-pattern>/Controller/ServletEditAssociationInitializer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletDashboardSwitch</servlet-name>
        <servlet-class>Controller.ServletDashboardSwitch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDashboardSwitch</servlet-name>
        <url-pattern>/Controller/ServletDashboardSwitch</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCreatePlan</servlet-name>
        <servlet-class>Controller.ServletCreatePlan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreatePlan</servlet-name>
        <url-pattern>/Controller/ServletCreatePlan</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCreatePlanConference</servlet-name>
        <servlet-class>Controller.ServletCreatePlanConference</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreatePlanConference</servlet-name>
        <url-pattern>/Controller/ServletCreatePlanConference</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCreatePlanContest</servlet-name>
        <servlet-class>Controller.ServletCreatePlanContest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreatePlanContest</servlet-name>
        <url-pattern>/Controller/ServletCreatePlanContest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCreatePlanEducational</servlet-name>
        <servlet-class>Controller.ServletCreatePlanEducational</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreatePlanEducational</servlet-name>
        <url-pattern>/Controller/ServletCreatePlanEducational</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCreatePlanElse</servlet-name>
        <servlet-class>Controller.ServletCreatePlanElse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreatePlanElse</servlet-name>
        <url-pattern>/Controller/ServletCreatePlanElse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCreatePlanExhibition</servlet-name>
        <servlet-class>Controller.ServletCreatePlanExhibition</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreatePlanExhibition</servlet-name>
        <url-pattern>/Controller/ServletCreatePlanExhibition</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCreatePlanMagazine</servlet-name>
        <servlet-class>Controller.ServletCreatePlanMagazine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreatePlanMagazine</servlet-name>
        <url-pattern>/Controller/ServletCreatePlanMagazine</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCreatePlanTrip</servlet-name>
        <servlet-class>Controller.ServletCreatePlanTrip</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreatePlanTrip</servlet-name>
        <url-pattern>/Controller/ServletCreatePlanTrip</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletDashboardInitializer</servlet-name>
        <servlet-class>Controller.ServletDashboardInitializer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDashboardInitializer</servlet-name>
        <url-pattern>/Controller/ServletDashboardInitializer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletEmailing</servlet-name>
        <servlet-class>Controller.ServletEmailing</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEmailing</servlet-name>
        <url-pattern>/Controller/ServletEmailing</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletEvaluation</servlet-name>
        <servlet-class>Controller.ServletEvaluation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEvaluation</servlet-name>
        <url-pattern>/Controller/ServletEvaluation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Controller.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/Controller/ServletLogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>Controller.ServletLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/Controller/ServletLogout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletMenu</servlet-name>
        <servlet-class>Controller.ServletMenu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletMenu</servlet-name>
        <url-pattern>/Controller/ServletMenu</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>FilterCheckLoggedin</filter-name>
        <filter-class>Filter.FilterCheckLoggedin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterCheckLoggedin</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterServlets</filter-name>
        <filter-class>Filter.FilterServlets</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterServlets</filter-name>
        <url-pattern>/Secured/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>ServletUsersActive</servlet-name>
        <servlet-class>Controller.ServletUsersActive</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsersActive</servlet-name>
        <url-pattern>/Controller/ServletUsersActive</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletUsersNotActive</servlet-name>
        <servlet-class>Controller.ServletUsersNotActive</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsersNotActive</servlet-name>
        <url-pattern>/Controller/ServletUsersNotActive</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletUsersActiveInitialize</servlet-name>
        <servlet-class>Controller.ServletUsersActiveInitialize</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsersActiveInitialize</servlet-name>
        <url-pattern>/Controller/ServletUsersActiveInitialize</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletUsersNotActiveInitialize</servlet-name>
        <servlet-class>Controller.ServletUsersNotActiveInitialize</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsersNotActiveInitialize</servlet-name>
        <url-pattern>/Controller/ServletUsersNotActiveInitialize</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCreatePlanInitializer</servlet-name>
        <servlet-class>Controller.ServletCreatePlanInitializer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreatePlanInitializer</servlet-name>
        <url-pattern>/Controller/ServletCreatePlanInitializer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletSuggestedPlans</servlet-name>
        <servlet-class>Controller.ServletSuggestedPlans</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSuggestedPlans</servlet-name>
        <url-pattern>/Controller/ServletSuggestedPlans</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletSliders</servlet-name>
        <servlet-class>Controller.ServletSliders</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSliders</servlet-name>
        <url-pattern>/Controller/ServletSliders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletSliderManagement</servlet-name>
        <servlet-class>Controller.ServletSliderManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSliderManagement</servlet-name>
        <url-pattern>/Controller/ServletSliderManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletSuggestedPlansClerk</servlet-name>
        <servlet-class>Controller.ServletSuggestedPlansClerk</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSuggestedPlansClerk</servlet-name>
        <url-pattern>/Controller/ServletSuggestedPlansClerk</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletAssociationPage</servlet-name>
        <servlet-class>Controller.ServletAssociationPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAssociationPage</servlet-name>
        <url-pattern>/Controller/ServletAssociationPage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletUsersClerk</servlet-name>
        <servlet-class>Controller.ServletUsersClerk</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsersClerk</servlet-name>
        <url-pattern>/Controller/ServletUsersClerk</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletUsersClerkInitialize</servlet-name>
        <servlet-class>Controller.ServletUsersClerkInitialize</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsersClerkInitialize</servlet-name>
        <url-pattern>/Controller/ServletUsersClerkInitialize</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletChooseAssociation</servlet-name>
        <servlet-class>Controller.ServletChooseAssociation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletChooseAssociation</servlet-name>
        <url-pattern>/Controller/ServletChooseAssociation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCorrectPlan</servlet-name>
        <servlet-class>Controller.ServletCorrectPlan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCorrectPlan</servlet-name>
        <url-pattern>/Controller/ServletCorrectPlan</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCorrectPoster</servlet-name>
        <servlet-class>Controller.ServletCorrectPoster</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCorrectPoster</servlet-name>
        <url-pattern>/Controller/ServletCorrectPoster</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCorrectRegistrations</servlet-name>
        <servlet-class>Controller.ServletCorrectRegistrations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCorrectRegistrations</servlet-name>
        <url-pattern>/Controller/ServletCorrectRegistrations</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletReport</servlet-name>
        <servlet-class>Controller.ServletReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletReport</servlet-name>
        <url-pattern>/Controller/ServletReport</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletResourceManagement</servlet-name>
        <servlet-class>Controller.ServletResourceManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletResourceManagement</servlet-name>
        <url-pattern>/Controller/ServletResourceManagement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletResources</servlet-name>
        <servlet-class>Controller.ServletResources</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletResources</servlet-name>
        <url-pattern>/Controller/ServletResources</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletShowChanges</servlet-name>
        <servlet-class>Controller.ServletShowChanges</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletShowChanges</servlet-name>
        <url-pattern>/Controller/ServletShowChanges</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletShowPlanDetails</servlet-name>
        <servlet-class>Controller.ServletShowPlanDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletShowPlanDetails</servlet-name>
        <url-pattern>/Controller/ServletShowPlanDetails</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletIndex</servlet-name>
        <servlet-class>Controller.ServletIndex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletIndex</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

</web-app>