<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>Controller.FileUploadHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/Controller/FileUploadHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCreateplan</servlet-name>
        <servlet-class>Controller.ServletCreateplan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreateplan</servlet-name>
        <url-pattern>/Controller/ServletCreateplan</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCreatePlanConference</servlet-name>
        <servlet-class>Controller.ServletCreatePlanConference</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreatePlanConference</servlet-name>
        <url-pattern>/Controller/ServletCreatePlanConference</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCreatePlanContest</servlet-name>
        <servlet-class>Controller.ServletCreatePlanContest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreatePlanContest</servlet-name>
        <url-pattern>/Controller/ServletCreatePlanContest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCreatePlanEducational</servlet-name>
        <servlet-class>Controller.ServletCreatePlanEducational</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreatePlanEducational</servlet-name>
        <url-pattern>/Controller/ServletCreatePlanEducational</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCreatePlanElse</servlet-name>
        <servlet-class>Controller.ServletCreatePlanElse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreatePlanElse</servlet-name>
        <url-pattern>/Controller/ServletCreatePlanElse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCreatePlanExhibition</servlet-name>
        <servlet-class>Controller.ServletCreatePlanExhibition</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreatePlanExhibition</servlet-name>
        <url-pattern>/Controller/ServletCreatePlanExhibition</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCreatePlanMagazine</servlet-name>
        <servlet-class>Controller.ServletCreatePlanMagazine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreatePlanMagazine</servlet-name>
        <url-pattern>/Controller/ServletCreatePlanMagazine</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCreatePlanTrip</servlet-name>
        <servlet-class>Controller.ServletCreatePlanTrip</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreatePlanTrip</servlet-name>
        <url-pattern>/Controller/ServletCreatePlanTrip</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletDashboardIndex</servlet-name>
        <servlet-class>Controller.ServletDashboarIndex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDashboardIndex</servlet-name>
        <url-pattern>/Controller/ServletDashboardIndex</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletEmailing</servlet-name>
        <servlet-class>Controller.ServletEmailing</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEmailing</servlet-name>
        <url-pattern>/Controller/ServletEmailing</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletEvaluation</servlet-name>
        <servlet-class>Controller.ServletEvaluation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEvaluation</servlet-name>
        <url-pattern>/Controller/ServletEvaluation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletIndex</servlet-name>
        <servlet-class>Controller.ServletIndex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletIndex</servlet-name>
        <url-pattern>/Controller/ServletIndex</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Controller.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/Controller/ServletLogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>Controller.ServletLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/Controller/ServletLogout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletMenu</servlet-name>
        <servlet-class>Controller.ServletMenu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletMenu</servlet-name>
        <url-pattern>/Controller/ServletMenu</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>FilterCheckLoggedin</filter-name>
        <filter-class>Filter.FilterCheckLoggedin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterCheckLoggedin</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>ServletUsers</servlet-name>
        <servlet-class>Controller.ServletUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsers</servlet-name>
        <url-pattern>/Controller/ServletUsers</url-pattern>
    </servlet-mapping>


</web-app>