.dashboard-background {
	background-color: white;
}
.btn-type {
	text-align: center;
	text-align-all: center;
	width: 100%;
	height: 200px;
}
a.btn-type, button.btn-type {
	font-size: large;
}

button.btn, a.btn {
	min-width: 80px;
}
div.modal-footer {
	text-align: right;
}

.big-comment {
	min-width: 450px;
}

div.well-lg .page-header {
	margin: 0px 0px 12px 0px;
	font-size: 17px;
}

div.tab-pane .well-lg {
	padding: 16px;
	/*border: 2px solid #337AB7;*/
    background-color: #CBD3F7;
	direction: rtl;
}

div.tab-pane .well-lg.back-white {
    background-color: #f5f5f5;
}

div.tab-pane {
	padding:0px 50px;
}

.form-submit {
	border-top: 1px solid #eee;
}

.form-group div.form-group {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
}
.form-group div.form-group .glyphicon-remove {
	font-size:1.5em;
	color:#A94442;
}

.line-top {
	margin:15px 0px 20px 0px;
	border-bottom: 3px #337AB7 dotted;
}
.line-bottom {
	margin:10px 0px 20px 0px;
	border-bottom: 3px #337AB7 dotted;
}

.form-control[disabled] {
    background-color: #FAFAFA;
}
.thumbnail-gray {
    background-color: gainsboro;
}

.navbar-index {
    margin: 0px;
    border-radius: 0px;
    background: #222222;
    border: black;
}

.pure-table {
    margin-left: 0px;
}

.planStateHistories {
    margin-top: 55px;
}

.btn-planStateHistories, .btn-inOfficeHistory {
    height: 32px;
    margin: -5px;
}

.each-number {
    margin-top: 12px;
    padding-right: 5px;
    font-size: 0.3em;
}

.box-number {
    padding-top: 8px;
    padding-bottom: 8px;
    /*padding-right: 24px;*/
}
.color-block {
    display: inline-block;
    width: 18px;
    height: 12px;
    margin-left: 4px;
}
